language: python
python:
  - "2.7"
  - "3.4"  # When support for 3.4 is removed unpin the PyYAML version below.
  - "3.6"
  - "3.7"
  - "3.8"
# command to install dependencies
install:
  - if [ $TRAVIS_PYTHON_VERSION == "3.4" ]; then pip install PyYAML==5.2; fi # Forcing PyYAML 5.2 while we retain Python 3.4 support PyYAML 5.3 and higher does not support python 3.4
  - pip install PyYAML argparse rosdep vcstools catkin-pkg python-dateutil setuptools
  - pip install nose coverage pep8
  - git clone https://github.com/dirk-thomas/empy.git /tmp/empy
  - cd /tmp/empy
  - python setup.py install
  - cd -
# command to run tests
script:
  - BLOOM_VERBOSE=1 python setup.py nosetests -s --tests test
notifications:
  email: false
